<header role="banner" class="app-header">
  <div class="container">
    <span class="app-nav-auth">
      <% if current_user %>
        <%= link_to current_user.display_name, user_path(current_user) %>
        <span style="color: #e7eaed; margin: 0 5px;">|</span>
        <%= link_to t('nav.sign_out'), main_app.destroy_user_session_path,
                    method: :delete %>
      <% else %>
        <%= link_to t('nav.sign_up'), main_app.new_user_registration_path %>
        <span style="color: #e7eaed; margin: 0 5px;">|</span>
        <%= link_to t('nav.sign_in'), main_app.new_user_session_path %>
      <% end %>
    </span>

    <a class="app-nav-logo" href="/"><%= t 'brand.name' %><span>中国</span></a>

    <div class="price">
      <div class="cssload-loader" id="cssloader"></div>
      <table>
        <tbody>
          <tr>
            <td id="price_btc"></td>
            <td id="price_usd"></td>
            <td id="price_cny"></td>
            <td>
            	<div id="percent_change_24h"></div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <script type="text/template" id="price_btc_template">
      <span class="price-{{ price_btc_className }}"><abbr title="比特币价格">&#3647;</abbr><strong>{{ price_btc[0] }}</strong><span>{{ price_btc[1] }}</span></span>
    </script>
    <script type="text/template" id="price_usd_template">
      <span class="price-{{ price_usd_className }}"><abbr title="美元价格">&dollar;</abbr><strong>{{ price_usd[0] }}</strong><span>{{ price_usd[1] }}</span></span>
    </script>
    <script type="text/template" id="price_cny_template">
      <span class="price-{{ price_cny_className }}"><abbr title="人民币价格">&yen;</abbr><strong>{{ price_cny[0] }}</strong><span>{{ price_cny[1] }}</span></span>
    </script>
    <script type="text/template" id="percent_change_24h_template">
      <span class="price-{{ percent_change_24h.indexOf('-') != -1 ? 'red' : 'green' }}"><abbr class="icon-trend" title="24小时涨跌幅">{{ percent_change_24h.indexOf('-') !== -1 ? '&#x25BC;' : '&#x25B2;' }}</abbr><strong>{{ percent_change_24h }}%</strong></span>
    </script>

    <div class="app-nav-theme hide">
      <span class="app-nav-text"><%= t 'nav.theme' %>:</span>
      <ul>
        <% themes.each do |(theme_key, theme_name)| %>
          <%= content_tag :li, class: ('app-current' if theme_key == current_theme), 'data-theme' => theme_key do -%>
            <% if theme_key == current_theme -%>
              <span class="app-nav-text"><%= theme_name %></span>
            <% else -%>
              <button type="button">
                <span class="app-nav-text"><%= theme_name %></span>
                <span class="app-nav-icon"><%= inline_svg 'brightness.svg' %></span>
              </button>
            <% end -%>
          <% end -%>
        <% end %>
      </ul>
    </div>
  </div>

</header>
